h1{
  font-family: "Times new roman";
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

text{
  font-family: "Times new roman" ; 
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

p{
  font-family: "Times new roman";
  font-size: 19px;
}